<footer class='footer flex'>
  <div class=''>
    <p>
      This is for Policy details
    </p>
  </div>

  <div class='inner-footer'>
    <a href='/' class='footer-btn btn'>
      Back To Protfolio
    </a>
    <a href='/' class='footer-btn btn'>
      See NEXT Project
    </a>
  </div>
</footer>