<footer class='footer flex'>
  <div class='copyright-footer'>
    <p>
      © 2021 Prem Jethwa. All rights reserved.
    </p>
  </div>

  <div class='inner-footer'>
    <a href='/' class='footer-btn btn'>
      Back To Protfolio
    </a>
    <a href='/' class='footer-btn btn'>
      See NEXT Project
    </a>
  </div>
</footer>