{{! <footer class='footer flex'>
  <div class='copyright-footer'>
    <p>
      © 2021 Prem Jethwa. All rights reserved.
    </p>
  </div>

  <div class='inner-footer'>
    <a href='/' class='footer-btn btn'>
      Back To Protfolio
    </a>
    <a href='/' class='footer-btn btn'>
      See NEXT Project
    </a>
  </div>
</footer> }}

<footer class="footer-con">
  <div class="footer">
    <a href="#">View Creator's Website</a>
    <p>
      Design & Developed by
      <span> PREM JETHWA </span>
    </p>
  </div>
  <p>copyright © 2021 all rights reserved</p>
  <p>
    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img
          alt="Creative Commons License"
          src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"
        />
      </a>
      <br />
      This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        CC International License
      </a>
      .
    </div>
  </p>
</footer>