<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>bees</title>
    <link rel="stylesheet" href="../../css/style.css">
     <script defer src="../../js/script.js"></script>
</head>
<body>
   {{>header}}
    <main class="container create">
        <h2>{{title}}</h2>
        <div class="form-container">
            <form action="/create" method="post" class="flex form">
                 {{#if errorMsg}}
                    <div class="error-msg">
                        <p>{{errorMsg}}</p>
                    </div>
                {{/if}}
                <div class="form-control">
                    <label for="title">Title :</label>
                    <input name="title" placeholder='title of your task...' type="text">
                </div>
                <div class="form-control">
                    <label for="task">Task :</label>
                    <textarea name="desc" placeholder='discribe your task...' class="textarea"></textarea>
                </div>
                <div class="form-control">
                     <label for="complete date">Complete in:</label>
                    <input name="completeDate" type="date">
                </div>
            <button type="submit" class="submit-btn create-btn" > Save </button>
            </form>
        </div>
    </main>
</body>
</html>