<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>bees</title>
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="./js/script.js"></script>

</head>
<body>
   {{>header}}
    <main class="container ">
         <h2>{{title}}</h2>
        <div class="form-container">
            <form action="/login" method="post" class="form flex">
                 {{#if errorMsg}}
                    <div class="error-msg">
                        <p>{{errorMsg}}</p>
                    </div>
                {{/if}}
                <div class="form-control">
                    <label for="email">Email :</label>
                    <input name="email" type="email" placeholder='Your Name'>
                </div>
                <div class="form-control">
                    <label for="password">Password :</label>
                    <input name="password" type="password" placeholder='Your Password'>
                </div>
            <button type="submit" class="submit-btn" > Login </button>
            </form>
            <a href="/signup" class="btn goto">Goto Signup!</a>
        </div>
    </main>
</body>
</html>