<!DOCTYPE html>
<html lang="en">
{{>single-imp-head}}

<body>
   {{>notify}}
   {{>header}}
    <main class="container ">
         <h2>{{title}}</h2>
        <div class="form-container">
            <form action="/login" method="post" class="form flex">
                 {{#if errorMsg}}
                    <div class="error-msg">
                        <p>{{errorMsg}}</p>
                    </div>
                {{/if}}
                <div class="form-control">
                    <label for="email">Email :</label>
                    <input name="email" type="email" placeholder='Your Email'>
                </div>
                <div class="form-control">
                    <label for="password">Password :</label>
                    <input name="password" type="password" placeholder='Your Password'>
                </div>
            <button type="submit" class="submit-btn" > Login </button>
            </form>
            <a href="/signup" class="btn goto">Goto Signup!</a>
        </div>
    </main>
</body>
</html>